<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>puush-qt</Name>
    <Version>0.2.4</Version>
    <Title>puush-qt Installer</Title>
    <Publisher>puush-qt</Publisher>
    <ProductUrl>https://github.com/jplsek/puush-qt</ProductUrl>
    <InstallerApplicationIcon>puush-qt.png</InstallerApplicationIcon>
    <InstallerWindowIcon>puush-qt.png</InstallerWindowIcon>
    <Logo>puush-qt.png</Logo>
    <RunProgram>@TargetDir@/puush-qt.exe</RunProgram>
    <StartMenuDir>puush-qt</StartMenuDir>
    <TargetDir>@ApplicationsDir@/puush-qt</TargetDir>
</Installer>
